$paleParchment: #FDFDEC;
$chlorophyllGreen: #04461A; //~
$inkyJetChracoal: #10061A;
$buttonRad: 40px;//3vw;
$vidWid: 750px;
$vidHt: 500px; 
$buttonFontSize: 15px;

.hidden {
	display: none;
}

body {
    background-color: $paleParchment;
    font-family: 'Playfair Display SC', serif;
    color: $inkyJetChracoal;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 3.3rem;
}

video {
    background-color: darken($chlorophyllGreen, 10);
    border-radius: 20% 20% 40% 40%;
    width: $vidWid;
    height: $vidHt;
    // position: relative;
    margin-top: 5%;
    box-shadow: 0px 0px 50px transparentize($inkyJetChracoal, 0.2);
}

.player { //~
    position: relative;
}

.controlsRow { //~
    position: absolute;
}

.controls {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20%;
    text-align: center;
    // margin-top: -15vh;
    margin-top: $vidHt * -0.2;
}

button {
    font-size: $buttonFontSize;
    border-radius: 50%;
    width: $buttonRad;
    height: $buttonRad;
    border: none;
    color: $paleParchment;
    // color: $inkyJetChracoal;
    // margin-top: $vidHt * 0.27;
    margin-top: $vidHt * .1;
    left: $vidWid / 2.5;
    font-family: 'Playfair Display SC', serif;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    // background-color: $paleParchment;
    // box-shadow: 0px 0px 10px transparentize($paleParchment, 0.5);//~
    box-shadow:
        -3px -3px 13px 0.5px lighten($chlorophyllGreen, 0.5),
        3px 3px 3px 0.5px transparentize($inkyJetChracoal, 0.5);  
}

button:hover {
    color: $paleParchment;
    // background-color: $inkyJetChracoal;
    cursor: pointer;
    box-shadow:
        inset -3px -3px 10px 0.5px lighten($chlorophyllGreen, 0.5),
        inset 3px 3px 10px 0.5px transparentize($inkyJetChracoal, 0.9);  
}

button.speed {
    overflow-wrap: break-word;
    line-height: $buttonFontSize;
}

.scrubberCon {
    width: $vidWid * .7;
    margin-left: $vidWid * .15;
    border-radius: 5%;
    display: flex;
    
    input[type=range] {
        width: 100%;
    }

    .scrubberTime {
        color: $paleParchment;
        text-shadow: 0px 0px 1px $paleParchment;
    }
}

.swapVid {
    margin-top: 2%;
}

.swapVid:hover {
    cursor: pointer;
    text-decoration: underline;
}
