$paleParchment: #FDFDEC;
$chlorophyllGreen: #04461A; //~
$inkyJetChracoal: #10061A;
$buttonRad: 3vw;
$vidWid: 700px;
$vidHt: 450px; 

.hidden {
	display: none;
}

body {
    background-color: $paleParchment;
    font-family: 'Playfair Display SC', serif;
    color: $inkyJetChracoal;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 3.3rem;
}

video {
    // max-width: 100%;
    background-color: darken($chlorophyllGreen, 10);
    border-radius: 20% 20% 40% 40%;
    width: $vidWid;//30vw;//800px~//80vh//40
    height: $vidHt;//15vw;//800px~
    position: relative;
    margin-top: 5%;
    // top: -10vh; //-100px~
    box-shadow: 0px 0px 10px transparentize($inkyJetChracoal, 0.5);
}

.player { //~
    position: relative;
}

// .controls { 
    // position: absolute;
    .controlsRow { //~
        position: absolute;
        // background-color: red; //~
    }
// }

// .buttonGrid {
.controls {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20%;
    text-align: center;
    margin-top: -15vh;
    // left: 12vw; //~11vw
}

button {
    font-size: 1.3vw; //1.7~
    border-radius: 50%;
    width: $buttonRad;//50px~
    height: $buttonRad;//50px~
    border: none;
    color: $inkyJetChracoal;
    left: $vidWid / 2.5;
    // top: -10.5vh;
    // left: 10vw;
    // top: -34vh;
    // left: 60vw;
    font-family: 'Playfair Display SC', serif;
    position: relative;
    background-color: $paleParchment;
    box-shadow: 0px 0px 10px transparentize($paleParchment, 0.5);
}

// .controlsRow {
//     grid-column: 1 / 4;
// }

.scrubberCon {
    width: $vidWid * .7;
    margin-left: $vidWid * .15;
    margin-top: - $vidHt * .08;
    border-radius: 5%;
    
    input[type=range] {
        width: 100%;
    }

    .scrubberTime {
        color: $paleParchment;
        text-shadow: 0px 0px 1px $paleParchment;
    }
}

button:hover {
    color: $paleParchment;
    background-color: $inkyJetChracoal;
    cursor: pointer;
}